body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#tabHeaders {
  border-bottom: 1px solid #ccc;
}

#tabs header  {
  float: left;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px 10px;
  margin-left: 10px;
  margin-bottom: -1px;
}

#tabs header.active  {
  padding-bottom: 6px;
  border-bottom: 0px;
}

#tabs article {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
}
